Repository AlgenticsCorp/molecular_analysis_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

Path conditions:
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
  radon-cc: any of: ^src/.*\.py$
  radon-mi: any of: ^src/.*\.py$
  extract-schema: any of: ^src/.*\.py$

intelfold Alphafold 3 is successfully integrated
  config/tasks/neurosnap-boltz2-folding.json
  config/tasks/neurosnap-intellifold-folding.json
  docs/development/guides/service-integration-guide.md
  docs/development/tools/README.md
  docs/implementation/provider-aware-url-migration.md
  docs/integration/external-task-integration.md
  frontend/src/components/task/DynamicTaskForm.tsx
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
  src/molecular_analysis_dashboard/presentation/api/routes/molecular_dynamics.py
  src/molecular_analysis_dashboard/services/task_registry.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
  tests/unit/adapters/test_neurosnap_folding_adapter.py
  tests/unit/presentation/test_legacy_neurosnap_routes.py
  tests/unit/services/test_task_registry.py
  tools/create_external_task.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

results status
  src/molecular_analysis_dashboard/services/unified_task_service.py
Due: radon-cc, radon-mi, extract-schema

AutoDock Vina is fully integrated via Neurosnap
  config/tasks/neurosnap-autodock-vina-docking.json
  docs/integration/external-task-integration.md
  docs/integration/provider-examples/neurosnap-autodock-vina.md
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/presentation/api/routes/unified_tasks.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
  tests/unit/adapters/test_neurosnap_autodock_vina_adapter.py
  tests/unit/presentation/test_unified_task_file_validation.py
Due: radon-cc, radon-mi, extract-schema

Add GNINA service integration plan
  docs/architecture/backend/gnina-service-plan.md
Due: none

docs: add in-house service integration guide
  docs/architecture/backend/gnina-service-plan.md
  docs/integration/inhouse-service-integration-guide.md
Due: none

clean un used files
  docs/architecture/multi-provider-organization-strategy 2.md
  docs/architecture/pipeline-builder-design 2.md
  docs/architecture/storage-architecture-fix 2.md
Due: none

fix: in-house prep exec handling
  config/tasks/inhouse-clean-dry-structure.json
  config/tasks/inhouse-protonate-and-prepare.json
  config/tasks/neurosnap-dynamicbind.json
  docker/Dockerfile.api
  docker/Dockerfile.worker
  docs/development/guides/developer-guide.md
  docs/development/guides/service-integration-guide.md
  docs/integration/external-task-integration 2.md
  docs/integration/external-task-integration.md
  docs/integration/inhouse-service-integration-guide.md
  frontend/src/pages/ExecuteTasks.tsx
  frontend/src/services/taskService.ts
  pyproject.toml
  src/molecular_analysis_dashboard/adapters/providers/inhouse_prep_adapter.py
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
  test_receptor.pdb
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

Fix task service URL resolution for Docker frontend
  frontend/src/services/taskService.ts
Due: frontend-prettier, frontend-eslint, frontend-typecheck
