Repository AlgenticsCorp/molecular_analysis_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

frontend-prettier:
  name: Format frontend code with Prettier
  entry: bash -c "cd frontend && npm run format"
  language: system
  pass_filenames: false

frontend-eslint:
  name: Lint frontend code with ESLint
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type checking
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false

radon-cc:
  name: radon complexity check
  entry: bash -c "if command -v radon &> /dev/null; then radon cc -n D -s src/ || (echo 'Code complexity too high!' && exit 1); else echo 'Radon not found, skipping complexity check'; fi"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

radon-mi:
  name: radon maintainability check
  entry: bash -c "if command -v radon &> /dev/null; then radon mi -n B -s src/ || (echo 'Maintainability index too low!' && exit 1); else echo 'Radon not found, skipping maintainability check'; fi"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

extract-schema:
  name: extract code schema
  entry: .venv/bin/python tools/extract_schema.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: implement 3D molecular viewer and enhance task library
  frontend/src/components/molecular/MolecularViewer.tsx
  frontend/src/components/molecular/MolecularViewerSimple.tsx
  frontend/src/pages/FileManager.tsx
  frontend/src/pages/TaskLibrary.tsx
  project_design/Frontend Design/Execute_task_example.md
Due: frontend-prettier, frontend-eslint, frontend-typecheck

feat: Add comprehensive AI coding agent instructions
  .github/copilot-instructions.md
Due: none

docs: Add essential project documentation
  .github/AGENTS.md
  project_design/Frontend Design/AdminPanel_Implementation_Plan.md
Due: none

feat: enhance GitHub templates and copilot instructions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/task.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
Due: none

refactor: streamline copilot instructions and create dedicated project management guide
  .github/PROJECT_MANAGEMENT.md
  .github/copilot-instructions.md
Due: none

feat: Complete database documentation for dynamic task system
  project_design/ALEMBIC_MIGRATION_STRATEGY.md
  project_design/API_CONTRACT.md
  project_design/ARCHITECTURE.md
  project_design/DATABASE_PERFORMANCE.md
  project_design/DATABASE_TESTING_STRATEGY.md
  project_design/DATA_SEEDING_STRATEGY.md
  project_design/DESIGN_OVERVIEW.md
  project_design/DOCKING_ENGINE_INTEGRATION.md
  project_design/FRAMEWORK_DESIGN.md
  project_design/FRONTEND_ARCHITECTURE.md
  project_design/IMPLEMENTATION_PLAN.md
  project_design/SCHEMA_PROPOSAL.md
  project_design/USE_CASES.md
Due: none

feat: Complete database deployment system with external deployment capability
  database/.env.example
  database/Dockerfile.db
  database/Makefile
  database/README.md
  database/alembic.ini
  database/alembic/env.py
  database/alembic/script.py.mako
  database/alembic/versions/metadata alembic/versions/results/20250922_2356_17e8ba7cf10e_initial_metadata_schema.py
  database/alembic/versions/metadata/001_initial_metadata_schema.py
  database/docker-compose.db.yml
  database/models/__init__.py
  database/models/base.py
  database/models/metadata.py
  database/models/results.py
  database/requirements.txt
  database/scripts/health_check.py
  database/scripts/init_extensions.sql
  database/scripts/migrate.py
  database/scripts/seed.py
  docker-compose.yml
  pyproject.toml
  src/molecular_analysis_dashboard/infrastructure/database.py
Due: radon-cc, radon-mi, extract-schema

feat: Implement Frontend API Client with Fallback Mechanism
  database/scripts/seed.py
  frontend/src/hooks/useTasks.ts
  frontend/src/pages/TaskLibrary.tsx
  frontend/src/services/featureFlags.ts
  frontend/src/services/staticTaskData.ts
  frontend/src/services/taskService.ts
  frontend/src/types/tasks.ts
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/__init__.py
  src/molecular_analysis_dashboard/presentation/api/routes/tasks.py
  src/molecular_analysis_dashboard/presentation/api/schemas/__init__.py
  src/molecular_analysis_dashboard/presentation/api/schemas/tasks.py
  src/molecular_analysis_dashboard/presentation/api/services/__init__.py
  src/molecular_analysis_dashboard/presentation/api/services/task_transformer.py
  tests/conftest.py
  tests/integration/test_api_routes.py
  tests/unit/presentation/test_schemas_tasks.py
  tests/unit/presentation/test_task_transformer.py
  tests/unit/test_api_health_ready.py
  tools/fix_grid_v2.sh
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

feat: enhance Stage 3 with complete containerization strategy
  project_design/IMPLEMENTATION_PLAN.md
Due: none

docs: add comprehensive containerized deployment instructions
  README.md
Due: none

feat: Complete storage service containerization with comprehensive testing
  README.md
  STORAGE_TESTING_SUMMARY.md
  docker-compose.yml
  docker/Dockerfile.api
  docker/Dockerfile.frontend
  docker/Dockerfile.storage
  docker/default.conf
  docker/nginx.conf
  docker/storage.conf
  frontend/.env.production
  frontend/package.json
  frontend/vite.config.ts
  pyproject.toml
  src/molecular_analysis_dashboard/adapters/storage/__init__.py
  src/molecular_analysis_dashboard/adapters/storage/file_storage.py
  src/molecular_analysis_dashboard/domain/entities/__init__.py
  src/molecular_analysis_dashboard/domain/entities/molecule.py
  src/molecular_analysis_dashboard/ports/storage.py
  src/molecular_analysis_dashboard/presentation/api/routes/molecules.py
  src/molecular_analysis_dashboard/presentation/api/schemas/molecules.py
  src/molecular_analysis_dashboard/use_cases/molecules.py
  tests/api/test_molecule_endpoints.py
  tests/e2e/test_storage_workflow.py
  tests/integration/test_storage_container.py
  tests/unit/test_storage_adapter.py
Due: radon-cc, radon-mi, extract-schema

feat: Complete Phase 3A - API Gateway Architecture Design
  CHANGELOG.md
  HOUSE_CLEANUP_SUMMARY.md
  PHASE_3A_COMPLETION_REPORT.md
  PHASE_3B_IMPLEMENTATION_PLAN.md
  PHASE_3_GATEWAY_PLAN.md
  README.md
  STORAGE_TESTING_SUMMARY.md
  docker-compose.yml
  docker/Dockerfile.gateway
  docker/gateway/conf.d/gateway.conf
  docker/gateway/conf.d/proxy_headers.conf
  docker/gateway/conf.d/security.conf
  docker/gateway/conf.d/ssl.conf
  docker/gateway/conf.d/upstreams.conf
  docker/gateway/lua/auth.lua
  docker/gateway/lua/init.lua
  docker/gateway/lua/rate_limit.lua
  docker/gateway/lua/request_id.lua
  docker/gateway/lua/service_discovery.lua
  docker/gateway/lua/task_router.lua
  docker/gateway/nginx.conf
  project_design/IMPLEMENTATION_PLAN.md
  test_gateway.sh
Due: none

feat: comprehensive implementation documentation enhancement system
  docs/deployment/cloud.md
  docs/deployment/local.md
  docs/getting-started/architecture.md
  docs/implementation/README.md
  docs/implementation/phases/README.md
  docs/implementation/phases/phase-1/README.md
  docs/implementation/phases/phase-1/completion-report.md
  docs/implementation/phases/phase-1/implementation.md
  docs/implementation/phases/phase-1/planning.md
  docs/implementation/phases/phase-1/progress.md
  docs/implementation/plan.md
  docs/implementation/status/current-status.json
  docs/implementation/templates/completion-report-template.md
  docs/implementation/templates/implementation-guide-template.md
  docs/implementation/templates/phase-planning-template.md
  docs/implementation/templates/status-update-template.md
  docs/implementation/tools/generate-report.py
  docs/implementation/tools/update-status.py
  docs/implementation/tools/validate-documentation.py
Due: none

docs: Fix comprehensive cross-reference audit and broken links
  docs/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/database/README.md
  docs/database/connection-routing/README.md
  docs/database/design/schema.md
  docs/database/testing/README.md
  docs/deployment/README.md
  docs/development/README.md
  docs/development/guides/README.md
  docs/development/tools/README.md
  docs/implementation/README.md
  docs/implementation/phases/README.md
  docs/implementation/phases/phase-1/README.md
  docs/implementation/phases/phase-1/implementation.md
  docs/implementation/phases/phase-4/README.md
  docs/implementation/phases/phase-4/completion-report.md
  docs/implementation/phases/phase-4/implementation.md
  docs/implementation/phases/phase-4/planning.md
  docs/implementation/phases/phase-4/progress.md
  docs/implementation/status/current-status.json
  docs/index.md
  docs/operations/README.md
Due: none

feat: enhance implementation phases and developer communication
  docs/README.md
  docs/implementation/README.md
  docs/implementation/integration-plans/neurosnap-integration-plan.md
  docs/implementation/phases/README.md
  docs/implementation/status/current-status.json
  docs/implementation/status/feature-matrix.md
  docs/implementation/status/metrics-dashboard.md
  temp/SRS_Pipeline_Tutorial_P0076655_FINAL.ipynb
  temp/data/input/P0076655.tsv
  temp/data/input/egfr_wildtype.fasta
  temp/data/input/osimertinib.sdf
  temp/data/work/egfr_mutant.fasta
  temp/data/work/mutations.json
  temp/scripts/extract_protein_subdomain.py
  temp/scripts/generate_egfr_kinase_fasta.py
  temp/scripts/parse_mutations.py
  temp/scripts/prep_engine.py
  temp/scripts/submit_alphafold3_job.py
  temp/scripts/submit_gnina_job.py
  temp/scripts/submit_proteinmpnn_job.py
Due: none

feat(gateway): Complete API Port Exposure Fix and update documentation
  README.md
  docker/gateway/conf.d/gateway.conf
  docker/gateway/conf.d/security.conf
  docker/gateway/conf.d/upstreams.conf
  docker/gateway/nginx.conf
  docs/README.md
  docs/development/getting-started/setup.md
  docs/development/guides/README.md
  docs/development/workflows/pull-request-process.md
  docs/development/workflows/testing-workflows.md
  docs/implementation/README.md
  docs/implementation/status/current-status.json
Due: none

fix(gateway): Update CSP to allow 3Dmol.js molecular viewer resources
  docker/gateway/conf.d/gateway.conf
Due: none

feat(implementation): Claim critical gap closure tasks across Phase 3B-4B
  docs/architecture/system-design/framework-design.md
  docs/implementation/status/current-status.json
Due: none

feat: Complete GNINA molecular docking integration
  .azure/api-testing-guide.md
  .azure/gnina-implementation-status.md
  .azure/gnina-integration-plan.md
  README.md
  docker-compose.yml
  docker/Dockerfile.api
  docker/gateway/conf.d/gateway.conf
  docs/implementation/GNINA_INTEGRATION_STATUS.md
  docs/implementation/status/gap-closure-status.md
  pyproject.toml
  src/molecular_analysis_dashboard/adapters/external/ligand_prep_adapter.py
  src/molecular_analysis_dashboard/adapters/external/neurosnap_adapter.py
  src/molecular_analysis_dashboard/adapters/http/neurosnap_client.py
  src/molecular_analysis_dashboard/domain/entities/__init__.py
  src/molecular_analysis_dashboard/domain/entities/docking_job.py
  src/molecular_analysis_dashboard/domain/exceptions.py
  src/molecular_analysis_dashboard/ports/external/__init__.py
  src/molecular_analysis_dashboard/ports/external/docking_engine_port.py
  src/molecular_analysis_dashboard/ports/external/molecular_prep_port.py
  src/molecular_analysis_dashboard/ports/external/neurosnap_api_port.py
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/task_execution.py
  src/molecular_analysis_dashboard/presentation/api/routes/tasks.py
  src/molecular_analysis_dashboard/presentation/api/schemas/task_execution.py
  src/molecular_analysis_dashboard/use_cases/commands/__init__.py
  src/molecular_analysis_dashboard/use_cases/commands/execute_docking_task.py
  test_docking_use_case.py
  test_gnina_integration.py
  tests/e2e/test_gnina_docking_workflow.py
  tests/integration/test_task_execution_api.py
  tests/unit/use_cases/test_execute_docking_task.py
Due: radon-cc, radon-mi, extract-schema

feat: implement clean NeuroSnap docking API
  docs/implementation/status/current-status.json
  pyproject.toml
  src/molecular_analysis_dashboard/adapters/storage/file_storage.py
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking_original.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking_simple.py
  src/molecular_analysis_dashboard/presentation/api/schemas/docking.py
  test_clean_api.py
  test_ligand.sdf
  test_protein.pdb
Due: radon-cc, radon-mi, extract-schema

feat: Fix NeuroSnap GNINA integration with correct API format
  docs/api/docking-api.md
  docs/implementation/roadmap-post-neurosnap.md
  docs/implementation/status/current-status.json
  docs/integration/neurosnap-api-guide.md
  pyproject.toml
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
  temp/scripts/submit_gnina_job.py
Due: radon-cc, radon-mi, extract-schema

feat: Add comprehensive service integration guide and infrastructure improvements plan
  docs/README.md
  docs/development/guides/README.md
  docs/development/guides/service-integration-guide.md
  docs/implementation/job-lifecycle-complete.md
  docs/implementation/phases/phase-3/infrastructure-improvements.md
  docs/implementation/phases/phase-4/phase-4b/completion-report.md
  docs/implementation/phases/phase-4/progress.md
  docs/implementation/phases/phase-5/README.md
  docs/implementation/roadmap-post-neurosnap.md
  docs/implementation/status/current-status.json
Due: none

fix: correct NeuroSnap API endpoint for job results retrieval
  .gitignore
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
Due: radon-cc, radon-mi, extract-schema

feat: Complete IntelliFold integration with unified NeuroSnap API architecture
  docs/architecture/README.md
  docs/architecture/system-design/current-state.md
  docs/architecture/system-design/overview.md
  docs/implementation/README.md
  docs/implementation/job-lifecycle-complete.md
  docs/implementation/neurosnap-integration-summary.md
  docs/implementation/phases/README.md
  docs/implementation/roadmap-post-neurosnap.md
  gnina_service.json
  src/molecular_analysis_dashboard/adapters/storage/file_storage.py
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking_backup.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking_complete.py
  src/molecular_analysis_dashboard/presentation/api/routes/folding.py
  src/molecular_analysis_dashboard/presentation/api/routes/neurosnap_unified.py
  src/molecular_analysis_dashboard/presentation/api/schemas/docking.py
  src/molecular_analysis_dashboard/presentation/api/schemas/folding.py
  src/molecular_analysis_dashboard/presentation/api/services/neurosnap_service.py
  temp/SRS_Pipeline_Tutorial_P0076655_FINAL.ipynb
  temp/scripts/prep_engine.py
  temp/scripts/submit_alphafold3_job.py
  test_clean_api.py
  test_job_lifecycle.py
  test_ligand.sdf
  test_receptor.pdb
Due: radon-cc, radon-mi, extract-schema

feat: Add Boltz-2 and AMBER Relaxation integrations
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/folding.py
  src/molecular_analysis_dashboard/presentation/api/routes/molecular_dynamics.py
  src/molecular_analysis_dashboard/presentation/api/schemas/molecular_dynamics.py
Due: radon-cc, radon-mi, extract-schema

Disable pre-commit hooks for easier development workflow
  .pre-commit-config.yaml.disabled
Due: none

fix: resolve OpenAPI spec generation failures and restore Swagger UI
  docs/README.md
  docs/api/README.md
  docs/api/contracts/rest-api.md
  docs/api/swagger-implementation-guide.md
  docs/architecture/system-design/current-state.md
  docs/implementation/README.md
  docs/implementation/status/current-status.json
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
  src/molecular_analysis_dashboard/presentation/api/routes/folding.py
  src/molecular_analysis_dashboard/presentation/api/routes/molecular_dynamics.py
  src/molecular_analysis_dashboard/presentation/api/routes/neurosnap_unified.py
  src/molecular_analysis_dashboard/presentation/api/routes/task_execution.py
Due: radon-cc, radon-mi, extract-schema

feat: Add Phase 4C Pipeline Builder System design and readiness assessment
  docs/architecture/pipeline-builder-design.md
  docs/architecture/system-design/current-state.md
  docs/implementation/README.md
  docs/implementation/pipeline-integration-readiness.md
  docs/implementation/status/current-status.json
  docs/implementation/tools/update-status.py
Due: none

feat: Complete provider-aware URL migration with comprehensive documentation updates
  .github/copilot-instructions_inActive.md
  docs/api/contracts/rest-api.md
  docs/api/docking-api.md
  docs/api/swagger-implementation-guide.md
  docs/architecture/multi-provider-organization-strategy.md
  docs/development/guides/hybrid-system-integration-guide.md
  docs/implementation/job-lifecycle-complete.md
  docs/implementation/neurosnap-integration-summary.md
  docs/implementation/phases/phase-4/phase-4b/completion-report.md
  docs/implementation/provider-aware-url-migration.md
  docs/implementation/roadmap-post-neurosnap.md
  src/molecular_analysis_dashboard/presentation/api/routes/docking.py
  src/molecular_analysis_dashboard/presentation/api/routes/folding.py
  src/molecular_analysis_dashboard/presentation/api/routes/molecular_dynamics.py
  src/molecular_analysis_dashboard/presentation/api/routes/neurosnap_unified.py
Due: radon-cc, radon-mi, extract-schema

feat: Implement GNINA task integration with unified task service
  EGFR_KD_L858R_T790M_model_1.pdb
  database/alembic.ini
  database/alembic/versions/metadata/002_task_framework_execution.py
  database/alembic/versions/metadata/20251111_2150_80835240e483_add_task_framework_executions.py
  database/migrations/20241217_task_framework_execution.py
  database/models/task_execution.py
  database/scripts/migrate.py
  database/seeds/gnina_task_seed.sql
  database/seeds/gnina_task_seed_fixed.sql
  docker-compose.yml
  docker/Dockerfile.api
  docs/implementation/frontend-integration-components.md
  docs/implementation/gnina-integration-plan.md
  docs/implementation/gnina-task-integration.md
  docs/implementation/integration-summary.md
  docs/implementation/plan.md
  docs/implementation/status/current-status.json
  docs/implementation/task-framework-integration-summary.md
  erlotinib.sdf
  frontend/src/pages/TaskLibrary.tsx
  frontend/src/services/featureFlags.ts
  frontend/src/services/taskService.ts
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/task_framework.py
  src/molecular_analysis_dashboard/presentation/api/routes/unified_tasks.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
  test_docking_use_case.py
  test_gnina_integration.py
  test_job_lifecycle.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

Update integration plan and add pipeline builder schema
  .gitignore
  database/alembic/versions/metadata alembic/versions/results/20250922_2356_17e8ba7cf10e_initial_metadata_schema.py
  database/alembic/versions/metadata/002_task_framework_execution.py
  database/alembic/versions/metadata/20251111_2150_80835240e483_add_task_framework_executions.py
  database/migrations/20241217_task_framework_execution.py
  database/migrations/20251112_pipeline_builder.sql
  docs/implementation/CURRENT_SYSTEM_ANALYSIS.md
  docs/implementation/gnina-integration-plan.md
Due: none

feat: Complete Phase 1A - Dynamic Task Execution
  docs/implementation/gnina-integration-plan.md
  frontend/src/components/task/DynamicTaskForm.tsx
  frontend/src/components/task/FileUploadField.tsx
  frontend/src/pages/ExecuteTasks.old.tsx
  frontend/src/pages/ExecuteTasks.tsx
  frontend/src/services/taskService.ts
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
  test_ligand.sdf
  test_protein.pdb
  test_receptor.pdb
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

feat: integrate JobManager with real API data and file details
  docs/implementation/gnina-integration-plan.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/JobManager.tsx
  frontend/src/pages/TaskMonitor.tsx
  frontend/src/services/taskService.ts
  src/molecular_analysis_dashboard/presentation/api/routes/unified_tasks.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

fixing docker forntend and planning for the result storage
  POLLING_IMPROVEMENTS_NEEDED.md
  database/migrations/20251113_execution_files_table.sql
  docker-compose.yml
  docker/Dockerfile.api
  docker/Dockerfile.worker
  docs/architecture/storage-architecture-fix.md
  docs/implementation/gnina-integration-plan.md
  docs/implementation/integration-summary.md
  docs/implementation/task-results-architecture.md
  frontend/.env.production
  frontend/src/pages/ExecuteTasks.tsx
  frontend/src/pages/JobManager.tsx
  pyproject.toml
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/adapters/storage/file_storage.py
  src/molecular_analysis_dashboard/infrastructure/tasks.py
  src/molecular_analysis_dashboard/services/execution_file_service.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

feat: Implement complete file storage and download system for GNINA results
  docker-compose.yml
  docs/implementation/gnina-integration-plan.md
  frontend/src/App.tsx
  frontend/src/pages/JobManager.tsx
  frontend/src/pages/TaskResults.tsx
  frontend/src/utils/fileDownload.ts
  src/molecular_analysis_dashboard/presentation/api/routes/unified_tasks.py
  src/molecular_analysis_dashboard/services/execution_file_service.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

feat(job-manager): embed file tree in job details
  docs/architecture/frontend/frontend-description.md
  frontend/src/components/jobs/JobFilesTree.tsx
  frontend/src/pages/JobManager.tsx
Due: frontend-prettier, frontend-eslint, frontend-typecheck

add file manager integration and visualizing files in job manager
  database/migrations/20251114_extend_execution_files_for_file_manager.sql
  database/migrations/20251114_rollback_file_manager.sql
  docker-compose.yml
  docker/Dockerfile.frontend
  docker/storage.conf
  docs/implementation/file-manager-integration-plan.md
  frontend/.env.development
  frontend/.env.production
  frontend/src/components/molecular/MolecularViewerSimple.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/FileManager.tsx
  frontend/src/services/api/fileManager.ts
  frontend/src/types/fileManager.ts
  frontend/vite.config.ts
  src/molecular_analysis_dashboard/presentation/api/main.py
  src/molecular_analysis_dashboard/presentation/api/routes/files.py
  src/molecular_analysis_dashboard/services/file_validators.py
  src/molecular_analysis_dashboard/services/user_file_service.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

job deletion is working
  config/tasks/gnina-molecular-docking.json
  config/tasks/neurosnap-amber-relaxation.json
  database/alembic/versions/metadata/20251115_1530_4f23bf29dfaa_fix_execution_files_unique_constraint.py
  database/migrations/20251115_fix_execution_files_unique_constraint.sql
  docker/Dockerfile.api
  docker/Dockerfile.worker
  docs/implementation/amber-relaxation-integration-plan.md
  docs/implementation/task-framework-plugin-architecture.md
  frontend/src/pages/JobManager.tsx
  frontend/src/services/taskService.ts
  src/molecular_analysis_dashboard/adapters/providers/neurosnap_task_adapter.py
  src/molecular_analysis_dashboard/presentation/api/routes/task_framework.py
  src/molecular_analysis_dashboard/presentation/api/routes/unified_tasks.py
  src/molecular_analysis_dashboard/services/execution_file_service.py
  src/molecular_analysis_dashboard/services/task_registry.py
  src/molecular_analysis_dashboard/services/unified_task_service.py
  tests/unit/services/test_execution_file_service.py
Due: frontend-prettier, frontend-eslint, frontend-typecheck, radon-cc, radon-mi, extract-schema

Path conditions:
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
  radon-cc: any of: ^src/.*\.py$
  radon-mi: any of: ^src/.*\.py$
  extract-schema: any of: ^src/.*\.py$
